/.wordpress-org export-ignore

/.git export-ignore
/.github export-ignore

/node_modules export-ignore

/src export-ignore

.gitattributes export-ignore
.distignore export-ignore
.gitignore export-ignore

composer.json export-ignore
composer.lock export-ignore

package.json export-ignore
package-lock.json export-ignore

README.md export-ignore

webpack.config.js export-ignore

.travis.yml export-ignore